{block content}
{control pridatKlietkuButton}
{control pridatVybehButton}
{block}
<table>
    <tr>
        <td>Identifikačné číslo</td>
        <td>Názov</td>
    </tr>
{foreach $umiestnenia as $umiestnenie}
    <tr>
        <td>{$umiestnenie->IDUmiestnenia}</td>
        <td>{$umiestnenie->nazov}</td>
        <td>{control viacButton-$umiestnenie->IDUmiestnenia}</td>
    <tr>
{/foreach}
</table>
{/block}