{block content}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
  Pridať
</button>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pridať</h4>
      </div>
      <div class="modal-body">
        {control vytvoritForm}
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-hover">
    <tr>
        <th>Testovaný živočích</th>
        <th>Testujúci zamestnanec</th>
        <th>Hmotnosť živočícha</th>
        <th>Rozmer živočícha</th>
        <th>Dátum testu</th>
    </tr>
{foreach $testy as $test}
    <tr>
        <td><a href="{link Zivocich:viac, $test->IDZivocicha}">{$test->menoZivocicha}</a></td>
        <td><a href="{link Zamestnanec:viac, $test->RodneCislo}">{$test->menoZamestnanca} {$test->priezvisko}</a></td>
        <td>{$test->hmotnostZivocicha}</td>
        <td>{$test->rozmerZivocicha}</td>
        <td>{$test->datumTestu}</td>
    <tr>
{/foreach}
</table>
{/block}