#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 1 hours


services:
	authenticator: App\Model\Prihlasovanie
	router: App\Router::vytvoritRouter

database:
	dsn: 'mysql:host=127.0.0.1:3307;dbname=zoo'
	user: 'root'
	password: 'usbw'
	options:

forms:
	messages:
		REQUIRED: 'Polia označené * sú povinné!'
