{block content}
<h3>Základné informácie:</h3>
{control vymazatButton}
<strong>Identifiačné číslo:</strong> {$druh->IDDruhuZivocicha} <br>
<strong>Názov:</strong> {$druh->nazov} <br>
{control editovatButton}
<h3>Živočíchy tohoto druhu:</h3>
{/block}