{block content}
<h3>Základné informácie:</h3>
<div class="row"><div class="col-md-1">{control editovatButton}</div><div class="col-md-1">{control vymazatButton}</div></div>

<strong>Identifiačné číslo:</strong> {$druh->IDDruhuZivocicha} <br>
<strong>Názov:</strong> {$druh->nazov} <br>
<h3>Živočíchy tohoto druhu:</h3>
{/block}