{block content}

<div class="row">
	<div class="alert alert-danger" role="alert">
  		<span class="sr-only">Error:</span>
  		<h3 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Na vykonanie tejto akcie nemáte dostatočné práva!<h3>
	</div>
</div>

{/block}