{block content}

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="row">
			<h1 class="text-center">IIS ZOO FIT</h1>
			<h3 class="text-center">Prihlásenie</h3>
			{control prihlasenie}
		</div>
	</div>
	<div class="col-md-4"></div>
</div>

<img src="{$basePath}/images/elephant.gif" id="slon" alt="slon" class="hidden-xs">

<footer id="myfooter" class="hidden-xs">
<strong>Vytvoril Filip Gulán a Euard Rybár 2015</strong>
</footer>

{/block}