{block content}
<div class="alert alert-danger" role="alert">
    <span class="sr-only">Error:</span>
    <h1><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> CHYBA nezrozumitelny požiadavok<h1>
</div>
